################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/IDI.Studio.ODP/obj/Debug
/src/.vs/IDI.Studio.ODP/v14
/src/IDI.Studio.ODP.UnitTests/obj/Debug
/src/packages
